  <div class="container">
    <div class="row user-header">
      <div class="col-md-6">
        <img class="circular-img" src='<%= @user.image_file_name %>'>
      </div> <!-- col-md-4 -->
      <div class="user-info col-md-6">
        <h1><%= @user.username %></h1>
        <h3><%= @user.first_name + " " + @user.last_name %></h3>
        <h3>Joined: <%= @user.created_at.strftime("%B %Y") %></h3>
        <h3>Goals achieved: <%= @user.goals.where(success: true).length %></h3>
      </div> <!-- col-md-8 -->
    </div> <!-- user-header -->

    <div class="row heading goal-heading">
      <h1><%= @user.first_name %>'s Goals</h1>
    </div> <!-- goal-heading-->

    <div class="goal-grid">
      <div class="row">


      <% @user.goals.each do |goal| %>

        <div class="col-md-4">
          <div class="panel panel-default goal">
            <div class="panel-body">
              <h3><%= goal.user.first_name + " wants to " + goal.title %></h3>
              <h4>By: <%= goal.deadline.strftime("%m:%M %p on %A, %B %e") %></h4>
              <h3>Stakes: <%= goal.stake_qty.to_s + " " + goal.stake_item %></h3>

              <% if goal.user.id = session[:user].id %>
                <form method="POST" action="/goals/complete">
                  <input type='hidden' name="goal_id" value="<%= goal.id %>"/>
                  <button class="btn btn-success btn-lg" name="success" value="true">I did this!</button>
                  <button class="btn btn-danger btn-lg" name="fail" value="true">I failed.</button>
                </form>
              <% else %>
                <button class="btn btn-success btn-lg">Take Bet!</button>
              <% end %>

              <h1>Goal success: <%= goal.success %></h1>
              <h1>Goal fail: <%= goal.fail %></h1>
              <% if goal.bets.empty? %>
                <p>No takers yet!</p>
              <% else %>
                <div class="dropdown">
                  <a class="dropdown-toggle" id="dropdown-menu-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    See who took bet
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdown-menu-1">
                    <% goal.bets.each do |bet| %>
                      <li><a href="users/<%= User.find(bet.user_id).username %>">
                        <%= User.find(bet.user_id).username %>
                      </a></li>
                    <% end %>
                  </ul>
                </div> <!-- dropdown -->
              <% end %>
            </div> <!-- panel-body -->
          </div> <!-- panel -->
        </div> <!-- col-md-4 -->
      <% end %>

      <div class="col-md-12">
        <div id="custom-goal">
          <h2 id="add-goal-heading">Add a goal!</h2>
          <div class="panel panel-default goal">
            <div class="panel-body">
              <img class="circular-img" src="<%= session[:user].image_file_name %>">
              <form method="POST" action="/goals">
                <h3><%= session[:user].first_name %> wants to </h3><input id="input-title" name="title" placeholder="Choose a goal!">
                <h4>By: </h4><!-- <input id="input-deadline" name="deadline" placeholder="Deadline"> -->
                  <input type='text' id="input-deadline" name="deadline" placeholder="Deadline"/>
                 
                <h3>Stakes: </h3><input id="quantity" type="number" min="1" max="9" value="1" name="stake_qty"><input id="item" name="stake_item" placeholder="Item">
                <button class="btn btn-success btn-lg">Save Goal</button>
              </form>
            </div> <!-- panel-body -->
          </div> <!-- panel -->
        </div> <!-- custom-goal -->
      </div> <!-- col-md-4 -->
    </div> <!-- row -->
  </div> <!-- goal-grid -->

    <div class="row heading bets-heading">
      <h1>Scott's Bets</h1>
    </div> <!-- bets-heading -->

    <div class="row bets-table-row">
      <div class="panel panel-default">
          <div class="panel-body">
            <table class="table bets-table">
              <thead>
                <th>Bet</th>
                <th>Result</th>
              </thead>
              <tbody>
                <tr>
                  <td>Scott bet Paul 2 beers that Paul would finish the models by 6pm today!</td>
                  <td>Paul wins!</td>
                </tr>
                <tr>
                  <td>Scott bet Paul 2 beers that Paul would finish the models by 6pm today!</td>
                  <td>Unresolved.</td>
                </tr>
                <tr>
                  <td>Scott bet Paul 2 beers that Paul would finish the models by 6pm today!</td>
                  <td>Scott wins!</td>
                </tr>
              </tbody>
            </table>
          </div> <!-- panel-body -->
      </div> <!-- panel -->
    </div> <!-- bets-table-row -->
  </div><!-- container -->