  <div class="container">
    <div id="user_profile" class="jumbotron">
      <div class="row user-header">
        <div class="col-xs-6">
          <img class="circular-img" src='<%= @user.image_file_name %>'>
        </div> <!-- col-md-4 -->
        <div class="user-info col-xs-6">
          <h1>  <%= @user.username.capitalize %></h1>
          <h3><i class="fa fa-user"></i>  <%= @user.first_name + " " + @user.last_name %></h3>
          <h4><i class="fa fa-clock-o"></i>  Joined: <%= @user.created_at.strftime("%B %Y") %></h3>
          <h4><i class="fa fa-thumbs-o-up"></i>  Bets won: <%= winnings(@user).length %></h3>
          <h4><i class="fa fa-trophy"></i>  Goals achieved: <%= @user.goals.where(success: true).length %></h3>
        </div> <!-- col-md-8 -->
      </div> <!-- user-header -->
  </div><!--jumbotron container-->
      <div class="row heading goal-heading">
        <h1><%= @user.first_name %>'s Goals</h1>
      </div> <!-- goal-heading-->

    <div class="goal-grid">
      <div class="row">

        <% if @user.id == current_user.id %>
          <div class="col-md-4">
            <div id="custom-goal">
              <h2 id="add-goal-heading">Add a goal!</h2>
              <div class="panel panel-default goal">
                <div class="panel-body">
                  <img class="circular-img" src="<%= current_user.image_file_name %>">
                  <form id="add-goal-form" method="POST" action="/goals">
                    <h3><%= current_user.first_name %> wants to </h3><input id="input-title" name="title" placeholder="Choose a goal!">
                    <h4>By: </h4><!-- <input id="input-deadline" name="deadline" placeholder="Deadline"> -->
                      <input type='text' id="input-deadline" name="deadline" placeholder="Deadline"/>
                     
                    <h3>Stakes: </h3><input id="quantity" type="number" min="1" max="9" value="1" name="stake_qty"><input id="item" name="stake_item" placeholder="Item">
                    <button class="btn btn-success btn-lg">Save Goal</button>
                  </form>
                </div> <!-- panel-body -->
              </div> <!-- panel -->
            </div> <!-- custom-goal -->
          </div> <!-- col-md-4 -->
        <% end %>

    <div id="active-goals-wrapper">
        <div id="active-goals">
          <% @user.goals.sort_by{ |goal| goal.created_at }.reverse.each do |goal| %>

            <div class="col-md-4">
              <div class="panel panel-default goal <%= goal_success(goal) %>">
                <div class="panel-body">
                  <h3><%= goal.user.first_name + " wants to " + goal.title %></h3>
                  <h4>By: <%= goal.deadline.strftime("%I:%M %p on %A, %B %e") %></h4>
                  <h3>Stakes: <%= goal.stake_qty.to_s + " " + goal.stake_item %></h3>

                  <% if goal.user.id == current_user.id && goal.success == false && goal.fail == false %> 
                    <form method="POST" action="/goals/complete">
                      <input type='hidden' name="goal_id" value="<%= goal.id %>"/>
                      <button class="btn btn-success btn-lg" name="success" value="true">I did this!</button>
                      <button class="btn btn-danger btn-lg" name="fail" value="true">I failed.</button>
                    </form>
                  <% elsif goal.success == true %>
                    <h1 class="goal-outcome">Success!</h1>
                  <% elsif goal.fail == true %>
                  <button class="btn btn-danger btn-lg"><i class="fa fa-times"></i> 
                    <!-- <h1 class="goal-outcome"> -->
                      Failed
                    <!-- </h1> -->
                  </button>
                  <% elsif goal.bets.find_by(user_id: current_user.id).nil? %>
                    <form method="POST" action="/goals/bets">
                        <input type="hidden" name="goal_id" value="<%= goal.id %>">
                        <button class="btn btn-success btn-lg">Take Bet!</button>
                      </form>
                  <% else %>
                      <h4 class="awaiting_results">You took the bet! Awaiting result</h4>
                  <% end %>

                  <% if goal.bets.empty? %>
                    <p>No takers yet!</p>
                  <% else %>
                    <div class="dropdown">
                      <a class="dropdown-toggle" id="dropdown-menu-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        See who took bet
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdown-menu-1">
                        <% goal.bets.each do |bet| %>
                          <% better = User.find(bet.user_id) %>
                          <li><a href="/users/<%= better.username %>">
                            <img class="circular-img sm-img" src="<%= better.image_file_name %>">
                            <%= better.first_name + " " + better.last_name %>
                          </a></li>
                        <% end %>
                      </ul>
                    </div> <!-- dropdown -->
                  <% end %>
                </div> <!-- panel-body -->
              </div> <!-- panel -->
            </div> <!-- col-md-4 -->
          <% end %>
        </div> <!-- #active-goals -->
      </div> <!-- #active-goals-wrapper -->

    </div> <!-- row -->
  </div> <!-- goal-grid -->


    <div class="row heading bets-heading">
      <h1><i class="fa fa-rocket"></i>  <%= @user.first_name %>'s Bets</h1>
    </div> <!-- bets-heading -->

    <div class="row bets-table-row">
      <div class="panel panel-default">
          <div class="panel-body">
            <table class="table bets-table">
              <thead>
                <div id="font" class="bet_table_style">
                  <th>Opponent</th>
                  <th>Bet</th>
                  <th>Result</th>
                </div>
              </thead>
              <tbody>
                <% @user.bets.each do |bet| %>
                  <tr>
                    <td>
                      <% opponent = User.find(bet.goal.user_id) %>
                      <a href="/users/<%= opponent.username %>">
                        <img class="circular-img sm-img" src="<%= opponent.image_file_name %>">
                        <p><%= opponent.first_name %></p>
                      </a>
                    </td>
                    <td><%= stringify_bet(@user, bet) %></td>
                    <td><%= bet_result(bet) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> <!-- panel-body -->
      </div> <!-- panel -->
    </div> <!-- bets-table-row -->

    <div class="row heading winnings-heading">
      <h1><i class="fa fa-trophy"></i>  <%= @user.first_name %>'s Winnings</h1>
    </div> <!-- winnings-heading -->

    <div class="row winnings-table-row">
      <div class="panel panel-default">
          <div class="panel-body">
            <table class="table winnings-table">
              <thead>
                <th>Opponent</th>
                <th>Prize</th>
                <th>Status</th>
              </thead>
              <tbody>
                <% @winnings.each do |bet| %>
                  <tr>
                    <td>
                      <% opponent = bet_loser(bet) %>
                      <a href="/users/<%= opponent.username %>">
                        <img class="circular-img sm-img" src="<%= opponent.image_file_name %>">
                        <p><%= opponent.first_name %></p>
                      </a>
                    </td>
                    <td><%= stringify_winnings(@user, bet) %></td>
                    <td>
                      <% if bet.paid %>
                        Paid!
                      <% else %>
                        Awaiting Payment 
                        <% if bet_winner(bet) == current_user %>
                          <form method="POST" action="/bets/paid">
                            <input type='hidden' name="bet_id" value="<%= bet.id %>"/>
                            <button class="btn btn-default btn-danger">Bet paid!</button>
                          </form>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> <!-- panel-body -->
      </div> <!-- panel -->
    </div> <!-- winnings-table-row -->


    <div class="row heading debts-heading">
      <h1><i class="fa fa-database"></i>  <%= @user.first_name %>'s Debts</h1>
    </div> <!-- debts-heading -->

    <div class="row debts-table-row">
      <div class="panel panel-default">
          <div class="panel-body">
            <table class="table debts-table">
              <thead>
                <th>Opponent</th>
                <th>Debt</th>
                <th>Status</th>
              </thead>
              <tbody>
                <% @debts.each do |bet| %>
                  <tr>
                    <td>
                      <% opponent = bet_winner(bet) %>
                      <a href="/users/<%= opponent.username %>">
                        <img class="circular-img sm-img" src="<%= opponent.image_file_name %>">
                        <p><%= opponent.first_name %></p>
                      </a>
                    </td>
                    <td><%= stringify_debts(@user, bet) %></td>
                    <td>
                      <% if bet.paid %>
                        Paid!
                      <% else %>
                        Awaiting Payment 
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> <!-- panel-body -->
      </div> <!-- panel -->
    </div> <!-- debts-table-row -->

    <% if current_user.id == @user.id && @user.notifications %>

    <div class="row heading notifications-heading">
      <h1>Your Notifications</h1>
    </div> <!-- notifications-heading -->

      <div class="row notifications-table-row">
        <div class="panel panel-default">
            <div class="panel-body">
              <table id="notif-table" class="table notifications-table">
                <thead>
                  <th>Opponent</th>
                  <th>Event</th>
                </thead>
                <tbody>
                  <% @user.notifications.sort_by{ |notif| notif.created_at }.reverse.each do |notification| %>
                    <tr>
                      <td>
                        <% opponent = User.find(notification.other_user_id) %>
                        <a href="/users/<%= opponent.username %>">
                          <img class="circular-img sm-img" src="<%= opponent.image_file_name %>">
                          <p><%= opponent.first_name %></p>
                        </a>
                      </td>
                      <td><%= notification.content %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div> <!-- panel-body -->
        </div> <!-- panel -->
      </div> <!-- notifications-table-row -->
    <% end %>
  </div><!-- container -->