  <div class="container">

    <div class="row heading goal-heading">
      <h1>Goals</h1>
    </div> <!-- goal-heading-->

    <div class="row" id="past-goals">
      <div id="past-goals-box" style="display: none;" >
        <p>Recent Wins: <%= stringify_recent_winners %></p>
        <!-- Need to modify the below to connect to goal-actions -->
        <!-- <p id="past-goals-content"><%= stringify_recent_winners %></p> -->
        <!-- <p id="past-goals-content">Julia showed up to class on time and won 3 beers from Paul!</p> --> 
      </div> <!-- #past-goals-box -->
    </div> <!-- #past-goals -->

    <div class="row heading goal-heading">
      <h3>Active Goals</h3>
    </div> <!-- goal-heading-->
    <div id="active-goals-wrapper">
      <div id="active-goals-grid" class="goal-grid main-page-grid">
        <div class="row">

          <div class="col-md-4">
            <div id="custom-goal">
              <h4 id="add-goal-heading"><i class="fa fa-rocket"></i> Add a goal!</h4>
              <div class="panel panel-default goal">
                <div class="panel-body">
                  <img class="circular-img" src="<%= session[:user].image_file_name %>">
                  <form id="add-goal-form" method="POST" action="/goals">
                    <h3><%= session[:user].first_name %> wants to </h3><input id="input-title" name="title" placeholder="Choose a goal!">
                    <h4>By: </h4><!-- <input id="input-deadline" name="deadline" placeholder="Deadline"> -->
                      <input type='text' id="input-deadline" name="deadline" placeholder="Deadline"/>
                     
                    <h3>Stakes: </h3><input id="quantity" type="number" min="1" max="9" value="1" name="stake_qty"><input id="item" name="stake_item" placeholder="Item">
                    <button id="submit-goal-button" class="btn btn-success btn-lg"><i class="fa fa-thumbs-o-up"></i>Save Goal</button>
                  </form>
                </div> <!-- panel-body -->
              </div> <!-- panel -->
            </div> <!-- custom-goal -->
          </div> <!-- col-md-4 -->


          <div id="active-goals">
            <% Goal.where(success: false, fail: false).order(:created_at).reverse.each do |goal| %>
              <div class="col-md-4">
                <div class="panel panel-default goal">
                  <div class="panel-body">
                    <a href="/users/<%= goal.user.username %>">
                      <img class="circular-img" src="<%= goal.user.image_file_name %>">
                    </a>
                    <h3 id="user_name" class="height_80">
                      <a href="/users/<%= goal.user.username %>"><%= goal.user.first_name + " " + goal.user.last_name %></a> wants to <%= goal.title %>
                    </h3>
                    <h4 id="dead_line">By: <%= goal.deadline.strftime("%I:%M %p on %A, %B %e") %></h4>
                    <h3 id="stake_name" class="height_80">Stakes: <%= goal.stake_qty.to_s + " " + goal.stake_item %></h3>

                    <% if goal.user.id == current_user.id && goal.success == false && goal.fail == false %> <!-- first part is unncessary for this page -->
                    <form method="POST" action="/goals/complete">
                      <input type='hidden' name="goal_id" value="<%= goal.id %>"/>
                      <button class="btn btn-success btn-lg" name="success" value="true">I did this!</button>
                      <button class="btn btn-danger btn-lg" name="fail" value="true">I failed.</button>
                    </form>
                    <% elsif goal.success == true %>
                      <h1 class="goal-outcome">Success!</h1>
                    <% elsif goal.fail == true %>
                      <h1 class="goal-outcome">Fail.</h1>
                    <% elsif goal.bets.find_by(user_id: current_user.id).nil? %>
                      <form method="POST" action="/goals/bets">
                        <input type="hidden" name="goal_id" value="<%= goal.id %>">
                        <button class="btn btn-success btn-lg"><i class="fa fa-thumbs-o-up"></i> Take Bet!</button>
                      </form>
                    <% else %>
                      <h4>You took the bet! Awaiting result</h4>
                    <% end %>

                    <% if goal.bets.empty? %>
                      <p>No takers yet!</p>
                    <% else %>
                      <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown-menu-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          See who took bet
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdown-menu-1">
                          <% goal.bets.each do |bet| %>
                            <% better = User.find(bet.user_id) %>
                            <li><a href="/users/<%= better.username %>">
                              <img class="circular-img sm-img" src="<%= better.image_file_name %>">
                              <%= better.first_name + " " + better.last_name %>
                            </a></li>
                          <% end %>
                        </ul>
                      </div> <!-- dropdown -->
                    <% end %>
                  </div> <!-- panel-body -->
                </div> <!-- panel -->
              </div> <!-- col-md-4 -->
            <% end %>
          </div> <!-- #active-goals -->
        </div> <!-- #active-goals-wrapper -->
      </div> <!-- row -->
    </div><!-- goals-grid -->

    <div class="row heading goal-heading">
      <h3>Completed Goals</h3>
    </div> <!-- goal-heading-->
    <div class="goal-grid main-page-grid">
      <div class="row">

        <% Goal.where("success = ? or fail= ?", true, true).order(:updated_at).each do |goal| %>
          <div class="col-md-4">
            <div class="panel panel-default goal">
              <div class="panel-body">
                <a href="/users/<%= goal.user.username %>">
                  <img class="circular-img" src="<%= goal.user.image_file_name %>">
                </a>
                <h3  id="user_name" class="height_80">
                  <a href="/users/<%= goal.user.username %>"><%= goal.user.first_name + " " + goal.user.last_name %></a> wants to <%= goal.title %>
                </h3>
                <h4 id="dead_line">By: <%= goal.deadline.strftime("%I:%M %p on %A, %B %e") %></h4>
                <h3 id="stake_name" class="height_80">Stakes: <%= goal.stake_qty.to_s + " " + goal.stake_item %></h3>

                <% if goal.user.id == current_user.id && goal.success == false && goal.fail == false %> <!-- first part is unncessary for this page -->
                <form method="POST" action="/goals/complete">
                  <input type='hidden' name="goal_id" value="<%= goal.id %>"/>
                  <button class="btn btn-success btn-lg" name="success" value="true">I did this!</button>
                  <button class="btn btn-danger btn-lg" name="fail" value="true">I failed.</button>
                </form>
                <% elsif goal.success == true %>
                  <button class="btn btn-success btn-lg"><i class="fa fa-check"></i> 
                  <!-- <h1 class="goal-outcome"> -->
                    Success
                  <!-- </h1> -->
                </button>
                <% elsif goal.fail == true %>
                <button class="btn btn-danger btn-lg"><i class="fa fa-times"></i> 
                  <!-- <h1 class="goal-outcome"> -->
                    Failed
                  <!-- </h1> -->
                </button>
                <% elsif goal.bets.find_by(user_id: current_user.id).nil? %>
                  <form method="POST" action="/goals/bets">
                    <input type="hidden" name="goal_id" value="<%= goal.id %>">
                    <button class="btn btn-success btn-lg">Take Bet!</button>
                  </form>
                <% else %>
                  <h4>You took the bet! Awaiting result</h4>
                <% end %>

                <% if goal.bets.empty? %>
                  <p>No takers.</p>
                <% else %>
                  <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown-menu-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      See who took bet
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdown-menu-1">
                      <% goal.bets.each do |bet| %>
                        <% better = User.find(bet.user_id) %>
                        <li><a href="/users/<%= better.username %>">
                          <img class="circular-img sm-img" src="<%= better.image_file_name %>">
                          <%= better.first_name + " " + better.last_name %>
                        </a></li>
                      <% end %>
                    </ul>
                  </div> <!-- dropdown -->
                <% end %>
              </div> <!-- panel-body -->
            </div> <!-- panel -->
          </div> <!-- col-md-4 -->
        <% end %>
        </div> <!-- row -->
      </div><!-- goal-grid -->
<<<<<<< HEAD

        <div class="row">
          <div class="col-md-12">
            <div id="custom-goal">
              <h2 id="add-goal-heading"><i class="fa fa-rocket"></i> Add a goal!</h2>
              <div class="panel panel-default goal">
                <div class="panel-body">
                  <img class="circular-img" src="<%= session[:user].image_file_name %>">
                  <form method="POST" action="/goals">
                    <h3><%= current_user.first_name %> wants to </h3><input id="input-title" name="title" placeholder="Choose a goal!">
                    <h4>By: </h4><!-- <input id="input-deadline" name="deadline" placeholder="Deadline"> -->
                      <input type='text' id="input-deadline" name="deadline" placeholder="Deadline"/>
                    <h3> Stakes: </h3><input id="quantity" type="number" min="1" max="9" value="1" name="stake_qty"><input id="item" name="stake_item" placeholder="Item">
                    <button class="btn btn-success btn-lg"><i class="fa fa-thumbs-o-up"></i>Save Goal</button>
                  </form>
                </div> <!-- panel-body -->
              </div> <!-- panel -->
            </div> <!-- custom-goal -->
          </div> <!-- col-md-4 -->
      </div> <!-- row -->
    </div> <!-- goal-grid -->
=======
>>>>>>> move-custom-goal-box
  </div> <!-- container -->

