  <div class="container">

    <div class="row heading goal-heading">
      <h1>Goals</h1>
    </div> <!-- goal-heading-->

    <div class="row" id="past-goals">
      <div id="past-goals-box">
        <p>Last week:</p>
        <p id="past-goals-content">Julia showed up to class on time and won 3 beers from Paul!</p>
      </div> <!-- #past-goals-box -->
    </div> <!-- #past-goals -->

    
    <div class="goal-grid main-page-grid">
      <div class="row">

        <% Goal.all.each do |goal| %>
          <div class="col-md-4">
            <div class="panel panel-default goal">
              <div class="panel-body">
                <img class="circular-img" src="<%= goal.user.image_file_name %>">
                <h3 class="height_80"><%= goal.user.first_name + " " + goal.user.last_name %> wants to <%= goal.title %></h3>
                <h4>By: <%= goal.deadline.strftime("%m:%M %p on %A, %B %e") %></h4>
                <h3 class="height_80">Stakes: <%= goal.stake_qty.to_s + " " + goal.stake_item %></h3>
                <form method="POST" action="/goals/bets">
                  <input type="hidden" name="goal_id" value="<%= goal.id %>">
                  <button class="btn btn-success btn-lg">Take Bet!</button>
                </form>
                <% if goal.bets.empty? %>
                  <p>No takers yet!</p>
                <% else %>
                  <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown-menu-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      See who took bet
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdown-menu-1">
                      <% goal.bets.each do |bet| %>
                        <% user = User.find(bet.user_id) %>
                        <li><a href="users/<%= user.first_name + user.last_name %>">
                          <%= user.first_name + " " + user.last_name %>
                        </a></li>
                      <% end %>
                    </ul>
                  </div> <!-- dropdown -->
                <% end %>
              </div> <!-- panel-body -->
            </div> <!-- panel -->
          </div> <!-- col-md-4 -->
        <% end %>
        </div> <!-- row -->

        <div class="row">
          <div class="col-md-12">
            <div id="custom-goal">
              <h2>Add a goal!</h2>
              <div class="panel panel-default goal">
                <div class="panel-body">
                  <img class="circular-img" src="<%= session[:user].image_file_name %>">
                  <form method="POST" action="/goals">
                    <h3><%= session[:user].first_name %> wants to </h3><input id="input-title" name="title" placeholder="Choose a goal!">
                    <h4>By: </h4><!-- <input id="input-deadline" name="deadline" placeholder="Deadline"> -->
                      <input type='text' id="input-deadline" name="deadline" placeholder="Deadline"/>
                     
                    <h3>Stakes: </h3><input id="quantity" type="number" min="1" max="9" value="1" name="stake_qty"><input id="item" name="stake_item" placeholder="Item">
                    <button class="btn btn-success btn-lg">Save Goal</button>
                  </form>
                </div> <!-- panel-body -->
              </div> <!-- panel -->
            </div> <!-- custom-goal -->
          </div> <!-- col-md-4 -->
      </div> <!-- row -->
    </div> <!-- goal-grid -->
  </div> <!-- container -->

<script type="text/javascript">
  $(function () {
      $('#input-deadline').datetimepicker();
  });
</script>