<!DOCTYPE html>
<html lang="en">
<head>

  <script src="/stylesheets/jquery-1.12.2.min.js"></script>
  <script src="/javascript/jquery.datetimepicker.full.min.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
  <script src="/javascript/application.js"></script>

  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/ >
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/user-page.css">

</head>
<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Motivation</a>
        </div> <!-- navbar-header -->
        <div class="navbar-right pull-right">
          <img class="circular-img sm-img" src="<%= session[:user].image_file_name %>">
          <div class="dropdown">
            <a class="dropdown-toggle" id="dropdown-menu-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <%= session[:user].username %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-menu-1">
              <li><a href="/users/<%= session[:user].id %>">My profile</a></li>
              <li><a href="/#custom-goal">New goal</a></li>
              <li><a href="#">Sign out</a></li>
            </ul>
          </div> <!-- dropdown -->
        </div> <!-- navbar-right -->
      </div> <!-- container -->
      <% if cookies[:success].present? %>
        <div class="flash success">
          <p><%= cookies[:success] %></p>
        </div>
        <% cookies[:success] = nil %>
      <% elsif cookies[:failure] %>
        <div class="flash failure">
          <p><%= cookies[:failure] %></p>
        </div>
        <% cookies[:failure] = nil %>
      <% end %>
    </nav>

  </header>
  <%= yield %>
  <footer class="footer">
    <div class="container">
      <p>Copyright 2016.</p>
    </div>
  </footer>
</body>

<script type="text/javascript">
  $(function () {
      $('#input-deadline').datetimepicker();
  });
</script>

</html>
