<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/stylesheets/jquery-1.12.2.min.js"></script>
  <script src="/javascript/jquery.datetimepicker.full.min.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
  <script src="/javascript/application.js"></script>
  <script src="/javascript/goal-actions.js"></script>

  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.css"/ >
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/user-page.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <script src="jquery-1.11.2.min.js" type="text/javascript"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script> 

</head>
<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a id="brand_name" class="navbar-brand" href="/goals/"><i class="fa fa-trophy"></i> Hotseat</a>
        </div> <!-- navbar-header -->  
        <div class="navbar-right pull-right">
          <img class="circular-img sm-img" src="<%= current_user.image_file_name %>">
          <div class="dropdown">
            <a class="dropdown-toggle" id="dropdown-menu-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <%= current_user.username %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-menu-1">
              <li><a href="/users/<%= current_user.username %>"><i class="fa fa-user"></i>  My profile</a></li>
              <li><a href="/goals"><i class="fa fa-trophy"></i> All Goals</a></li>
              <li><a href=
                <% if request.path == "/goals" || request.path == ("/users/" + current_user.username) %>
                "#custom-goal"
                <% else %>
                "/goals/#custom-goal"
                <% end %>
              ><i class="fa fa-check"></i> New goal</a></li>
              <li><a href="/users/logout"><i class="fa fa-arrow-circle-left"></i>  Sign out</a></li>
            </ul>
          </div> <!-- dropdown -->

          <div class="dropdown">
            <a class="dropdown-toggle" id="dropdown-menu-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <h3><i id="notifications-button" class="fa fa-flag <%= "live" unless current_user.notifications.where(read: false).empty? %>"></i></h3>
            </a>
            <ul id="notifications-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-menu-1">
              <% if current_user.notifications.present? %>
                <% current_user.notifications.sort_by{ |notif| notif.created_at }.reverse.each do |notification| %>
                  <% opponent = User.find(notification.other_user_id) %>
                <li <%= "class='read-notification'" if notification.read %>>
                  <a href="/users/<%= current_user.username %>#notif-table">
                      <img class="circular-img sm-img" src="<%= opponent.image_file_name %>">
                      <%= notification.content %>
                  </a>
                </li>
                <% end %>
              <% else %>
                <li class="centered-text"><p>No new notifications!</p></li>
              <% end %>
              <li class="centered-text">
                <a href="/users/<%= current_user.username %>#notif-table">See all</a>
              </li>
            </ul>
          </div> <!-- dropdown -->

        </div> <!-- navbar-right -->
      </div> <!-- container -->
      <% if cookies[:success].present? %>
        <div class="flash success">
          <p><%= cookies[:success] %></p>
        </div>
        <% cookies[:success] = nil %>
      <% elsif cookies[:failure] %>
        <div class="flash failure">
          <p><%= cookies[:failure] %></p>
        </div>
        <% cookies[:failure] = nil %>
      <% end %>
    </nav>

  </header>
  <%= yield %>
  <footer class="footer">
    <div class="container">
      <p><i class="fa fa-trophy"></i>  Copyright 2016.</p>
    </div>
  </footer>
</body>

<script type="text/javascript">
  $(function () {
      $('#input-deadline').datetimepicker();
  });
</script>

</html>
